<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:YcLoggingLayout.json"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ru.hexlet.llm" level="DEBUG" additivity="true"/>

        <Logger name="yandex.cloud" level="INFO" additivity="true"/>
        <Logger name="com.yandex" level="INFO" additivity="true"/>

        <Logger name="org.apache.http" level="WARN" additivity="true"/>
        <Logger name="io.grpc" level="WARN" additivity="true"/>
        <Logger name="org.asynchttpclient" level="WARN" additivity="true"/>

        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>